.splashBg {
  background: #000;
  /* background: linear-gradient(170deg, rgba(45,144,255,1) 0%, rgba(255,40,220,1) 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 0.8s ease-out; /* 투명도 애니메이션 적용 */
  opacity: 1;
}
.splashBg.fade-out {
  opacity: 0; /* 서서히 투명해지면서 사라짐 */
}

.splashLogoSmall {
  width: 100px;
  height: 100px;
  background: url("./media/splash_logo.svg") no-repeat center;
  background-size: cover;
  transform: scale(1.9) rotate(-45deg);
  animation: logoAnimation 0.8s ease-out forwards;
}

@keyframes logoAnimation {
  70% {
    transform: scale(1.9) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}

#linear-box {
  background: linear-gradient(
    170deg,
    rgba(45, 144, 255, 1) 0%,
    rgba(255, 40, 220, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0; /* 처음에 투명도 0 */
  height: 100vh;
  animation: slideIn 0.1s linear forwards, fadeIn 0.2s ease-out forwards,
    glowEffect 0.8s ease-out 0.1s forwards;
}

.splashLogoWhite,
h1 {
  animation: glowEffect 1s ease-out forwards; /* 2.5초 후 빛 번짐 애니메이션 실행 */
}

/* 오른쪽에서 왼쪽으로 이동하는 애니메이션 */
@keyframes slideIn {
  from {
    transform: translateX(100%); /* 오른쪽에 위치 */
  }
  to {
    transform: translateX(0); /* 원래 위치로 슬라이드 */
  }
}

/* 투명도가 0에서 1로 변하는 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0; /* 투명도 0 */
  }
  to {
    opacity: 1; /* 투명도 1 */
  }
}

/* 빛이 번지는 듯한 효과 */
@keyframes glowEffect {
  0% {
    filter: brightness(1); /* 원래 상태 */
    text-shadow: none; /* 텍스트 그림자 없음 */
  }
  50% {
    filter: brightness(1.5); /* 밝게 빛남 */
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* 텍스트에 빛나는 그림자 */
  }
  100% {
    filter: brightness(1); /* 다시 원래 상태로 복귀 */
    text-shadow: none; /* 그림자 제거 */
  }
}

.splashLogoWhite {
  width: 90px;
  height: 90px;
  background: url("./media/splash_logo_white.svg") no-repeat center;
  background-size: cover;
  transform: rotate(180deg);
}

.splashBox {
  width: auto;
  height: 84px;
  display: flex;
  align-items: center;
}

.splashBox > h1 {
  color: #fff;
  font-size: 1.5rem;
}
