.classListHeader{
    width: 100%;
    height: 7%;
    /* background: #ededed; */
    display: flex;
    justify-content: center;
}

.classListHeader > span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #333;
    position: absolute;
    left: 0;
}

.classListHeader > .classSelect{
    height: 100%;
    border: none;
    border-radius: 0;
}

.categorySection{
    /* border: 1px solid #333; */
    background: #edededed;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}
.categorySection > P{
    /* background: #333; */
    width: 18%;
    height: 70%;
    padding: 8px;
    border-right: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categorySection > ul{
    width: 82%;
    height: 70%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryTxt{
    font-size: 10px;
}