@import url('../../App.css');

#navBar{
    width: 100%;
    height: 10%;
    position: absolute; /* 나중에 fixed로 수정 */
    bottom: 0;
    border-top: 1px solid #F5F0F5;
    display: flex;
    justify-content: space-around;
    padding: 12px 10px;
    background: #fff;
    z-index: 99999;
}

#navBar > a{
    display: inline-block;
    /* background: #7b7b7b; */
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  border: 1px solid #333; */
}

#navBar > .navLink > .navImgBox{
    display: inline-block;
    width: 50px;
    height: 70%;
    /* border: 1px solid #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#navBar > a > p{
    height: 30%;
    font-size: 10px;
    color: #8C5E8A;
    text-align: center;
    line-height: 1;
    padding-top: 3px;
    /* border: 1px solid #333; */
}