@import url('../../App.css');

#mobile-view{
    position: relative;
}

#navBar{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #F5F0F5;
    display: flex;
    justify-content: space-around;
    padding: 12px 10px;
    
}

#navBar > a{
    display: inline-block;
    /* background: #7b7b7b; */
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navBar > .navLink > .navbarIcon{
    display: inline-block;
   /*  background: #ededed; */
    width: 50px;
    height: 70%;
    /* background-size: cover; */
}

#navBar > a > p{
    height: 30%;
    font-size: 12px;
    color: #333;
    /* border: 1px solid #333; */
}

#navBar > .navLink > .searchIcon{
    background: url("../img/search_icon.svg") no-repeat center center;
}
#navBar > .navLink > .mapIcon{
    background: url("../img/map_icon.svg") no-repeat center center;
}
#navBar > .navLink > .homeIcon{
    background: url("../img/home_icon.svg") no-repeat center center;
}
#navBar > .navLink > .chatsIcon{
    background: url("../img/chat_icon.svg") no-repeat center center;
}
#navBar > .navLink > .profileIcon{
    background: url("../img/profile_icon.svg") no-repeat center center;
}