#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

#logo {
  position: absolute;
  top: 15%;
}

#login_btnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30%;
  margin-bottom: 30px;
}

.loginBtn {
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 55px;
  font-size: 15px;
}
