#createClass-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.createInput-box {
  width: 100%;
  height: 43px;
  border-radius: 10px;
  background-color: rgba(240, 242, 245, 1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 15px;
}

.createclass-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(61, 77, 92, 1);
}
.createclass-input_P::placeholder,
.createclass-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(61, 77, 92, 1);
  font-family: inter;
}

.createclass-input_P {
  width: 100%;
  margin-top: 10px;
  font-family: inter;
}

.createclass-input:focus {
  outline: none;
}

.createclass-input_lable {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(61, 77, 92, 1);
  display: flex;
  align-items: center;
}

.createInput-box_image {
  height: 130px;
  position: relative;
  margin-bottom: 20px;
}

.create-imgFile-input {
  visibility: hidden;
}

.create-imgFile-lable {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.createclass-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 13px;
}

.inputBox-white {
  background-color: transparent;
  border: 1px solid rgba(219, 224, 229, 1);
}
#preview {
  max-width: 45%; /* 이미지 너비가 부모 div 너비를 초과하지 않도록 설정 */
  max-height: 45%; /* 이미지 높이가 부모 div 높이를 초과하지 않도록 설정 */
  object-fit: contain;
}
.createclass-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin: 15px 0;
}

#createclass-date-input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(61, 77, 92, 1);
}
#createclass-date-input:focus {
  outline: none;
}

#createclass-time-input {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(61, 77, 92, 1);
}
#createclass-time-input:focus {
  outline: none;
}

.regular-Box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.createclass-time-input2 {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(61, 77, 92, 1);
  width: 100%;
}

.regular-Box_column {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
